@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}
:root {
    --color-primary: #000000;
    --secundary-color: #f6f6f6;
    --therd-color: #22D4FD;

    --font-montserrat: "Montserrat", sans-serif;
    --font-Krone_One: "Krona One", sans-serif; 
}

.header {
    padding: 2% 0% 0% 15%;

}

.header_menu {
    display: flex;
    gap: 80px;
}

.header_menu_links {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--therd-color);
    text-decoration: none;
}

.header_menu_links:hover {
    color: #007bff;
}

body {
    background-color: var(--color-primary);
    color: aliceblue;
    box-sizing: border-box;
}

.title-destaque{
    color: var(--therd-color);
}

.presentation {
    display: flex;
    align-items: center;
    margin: 6% 15%;
    justify-content: space-between;
    gap: 82px
;
}

.presentation_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation_content_title{
    font-size: 2.25rem;
    font-family: var(--font-Krone_One);
}

.presentation_content_text{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}
.presentation_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentation_links_botton {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    text-decoration: none;
    color: var(--secundary-color);
    border: 2px solid var(--therd-color);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentation_links_botton:hover{
    background-color: #272727;
    border: 2px solid #0000FF;
    cursor: pointer;
}

.presentation_link_subtitle {
font-family: var(--font-Krone_One);
font-size: 1.5rem;
font-weight: 400;

}

.footer{
    color: black;
    background-color: var(--therd-color);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-montserrat);
    font-weight: 400;
    padding: 24px;

}

.presentation_content_text a{
    text-decoration: none;
    color: var(--therd-color);
}

.Image_me {
    width: 50%;
}



@media (max-width: 1200px) {
    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }
    
  .presentation{
    flex-direction: column-reverse;
    padding: 5%;
  }

  .presentation_content{
    width: auto;
  }
}